.VPNavBarTitle {
    .title {
        span {
            color: var(--primary-color);
            font-size: 1.3em;
            font-family: '阿里妈妈数黑体 Bold';
        }
    }
}

.VPHomeHero {
    .main {
        font-family: '阿里妈妈数黑体 Bold';
    }
    .image {
        .VPImage {
            width: 50%;
        }
    }
}

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
}

body {
    .main {
        pre {
            font-family: 'FiraCode-Regular';
        }
        .line-numbers-wrapper {
            font-family: 'FiraCode-Regular';
        }
    }
}

.vp-doc {
    blockquote {
        border-left: 4px solid var(--blockquote-left);
        background-color: var(--blockquote-bg);
        color: var(--blockquote-color);
        padding: 0.5em 0.8em;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    .line-numbers-wrapper {
        padding-top: 15px;
        font-size: 0.9em;
    }

    [class*='language-'] {
        & > span.lang {
            top: -2px;
        }
        pre {
            padding: 15px 0;
        }
        code {
            padding: 0 15px;
            font-size: 0.9em;
        }
    }
}
