.VPNavBarTitle {
    .title {
        span {
            color: var(--primary-color);
            font-size: 1.3em;
        }
    }
}

.VPHomeHero {
    .main {
        font-family: '阿里妈妈数黑体 Bold';
    }
    .image {
        .VPImage {
            width: 50%;
        }
    }
}

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
}
